
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');


  *{
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}


ul, li, a {
  list-style-type: none;
  text-decoration: none;
}

a{
  padding: 10px;
  font-size: 20px;
}

/* styling the navbar */
.nav{
  display: flex;
  justify-content: space-between;
  padding: 40px;
  margin-bottom: 20px;
  border-bottom: rgb(206, 23, 78) solid 2px;
  color: rgb(207, 51, 103);
}

.links{
  display: flex;
  

}

.links > a{
  color: rgb(207, 51, 103);;
}

/* styling each session */
.sessions > div{
  border: solid rgb(196, 62, 52) 2px;
  padding: 40px 50px;
  margin: 45px 300px;
  border-radius: 20px;
  border-color: rgb(202, 72, 72);
  color: white;
  background-color: rgb(207, 51, 103);


  
  
}


/* styling the outter div. Using flexbox */

/* #root > div > div.main > div > div{
  display: flex;
  flex-wrap: wrap; 
 

  
  
} */

.del{
  display: flex;
  justify-content: space-between;
}

/* styling user actions */
.userActions{
  display: flex;
  justify-content: space-between;
}

.userActions > div > p{
  margin: 5px;
}